[
    {sasl, [
        {sasl_error_logger, false},
        {errlog_type, error},
        {error_logger_mf_dir, "./logs"},
        {error_logger_mf_maxbytes, 1048760},
        {error_logger_mf_maxfiles, 10}
    ]
    },
    {kernel, [
        {inet_dist_listen_min, 40000},
        {inet_dist_listen_max, 40500}
    ]
    },
    {server,
        [
            {headerServerInfo, "SilentServer/1.0"},
            {poolName, mysql_pool},
            {mysql, [
                {host, "DB_HOST"},
                {port, DB_PORT},
                {user, "DB_USER"},
                {password, "DB_PASSWORD"},
                {database, "DB_NAME"}
            ]},
            {poolBoy, [
                {name, {local, mysql_pool}},
                {worker_module, mysql},
                {size, 10},
                {max_overflow, 5}
            ]},
            {http, [
                {mod, server_web},
                {port, 8010}
            ]},
            {tcp, [ {port, 8020} ]}
        ]
    }
].

